



	<% 
			# Incluyo el formulario para la creación y mantenimiento de contenidos de tipo noticias
				
	%>
	<h3>Nueva noticias </h3>
			
	<%= render(:partial => "contenidos/frm_nuevo_contenido", :object => @form)%>







