<p>
  <b>Nombre:</b>
  <%=h @asociacion_perfil.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @asociacion_perfil.descripcion %>
</p>


<%= link_to 'Edit', edit_asociacion_perfil_path(@asociacion_perfil) %> |
<%= link_to 'Back', asociacion_perfils_path %>